div#sentiment-hover {
  position: absolute;
  z-index: 10000;
  padding: 20px 20px;
  width: 400px;
  background-color: #fff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
}

.text-title {
  font-weight: bold;
  margin: 0px 0px;
}

.text-content {
  margin: 0px 0px;
  font-size: 0.9em;
  text-align: left;  
}

.horizontal-line {
  margin: 5px 0px;
}
/* 
div#sentiment-hover img {
  margin: 10px;
}

div#sentiment-hover .optionsDiv {
  margin-top: 5px;
}

div#sentiment-hover .optionsDiv a {
  margin-right: 10px;
}

div#sentiment-hover .optionsDiv a.disableVisited {
  color: orangeRed;
} */

/* .res-nightmode #sentiment-hover {
  background-color: #373737;
  color: #ccc;
} */

/* div#sentiment-hover p {
  margin: 5px 0px;
  font-size: 0.9em;
  text-align: justify;  

} */
